*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 600px;
}
.logo {
    margin: 1em;
}
.logo img{
    /* margin: 10px 5px; */
    position: relative;
    top: 10%;
    left: 5%;
}
.top_content,.bottom_content {
 padding: 2em;
}
.container,.section1, .section2, .top_content, .row{
    display: flex;
}
.top_content {
    justify-content: space-evenly;
}
.container {
    background-color: #ffff;
    width: initial;
    height: inherit;
}
.sideBar {
    width: 20%;
    height: 100%;
}

.rightBar {
    width: 80%;
    height: 100%;
    background-color: #F7F7F8; /*F0EDED*/
    border-radius: 20px 0px 0px 20px;
}
.performance {
    background-color: #090332;
    width: 48%;
    border-radius: 10px;
}
.performance .section1 {
    padding: 1em;
    color: #ffff;
    justify-content: space-between;
}
.performance .section2 div>p{
    font-family: 'Merienda', cursive;
    color: #ffff;
    font-size: 1.2em;
}
.performance .section2 span{
 display: block;
 font-size: 12px;
 color: #5F6262;
}
.section2, .section3 { padding: 1em;}
#bar{
    border-right: 1px solid #5F6262;
}
.section2 {
    justify-content: space-around;
}

.section3 p {
    margin: 8px;
    color: #ffff;
}
.section3 span { color: #FCA635;}
.section4{
    padding: 0.7em;
    width: 35%;
    margin: 8px auto;
}
.profile {
  margin-left: 35%;
  margin-right: auto;
}
.profile_container{
    width: 63px;
    height: 65px;
    border-radius: 100%;
}
.profile_container img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
.light_status {
    margin-left: 3%;
    position: relative;
    width: 80%;
    border-radius: 5px;
}
.light_status img {
    width: inherit;
    height: 310px;
    border-radius: 10px;
}
.light_status_text {
    position: absolute; 
    color: white;
    top: 80%;
    left: 15%;
    font-family: 'Merienda', cursive;
}
.bottom_content {
    width: 83%;
    display: flex;
    background-color: #ffff;
    justify-content: space-around;
    margin: 0px 2em;
    border-radius: 13px;
}
.row> div {
   text-align: center;
   background-color: #F5F5F5;
   border-radius: 16px;
   margin: 10px;
   padding: 1.7em;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.menu {
    margin: 30% 2em;
}
.menu a {
  padding: 12px;
  color: rgb(81, 81, 81);
  text-decoration: none;
  font-size: 17px;
}
.menu li {
    list-style-type: none;
    margin: 12px;
    padding: 7px;
}
.menu li:hover {
  background-color: #F6F6F6;
}
.logout {
    margin: 65% 2em;
}
#stastics-arrow {
   margin: 0.5em;
    border: 1px solid #090332; 
    border-radius: 100%; 
    color: #090332;
    font-weight: lighter;
    padding: 3px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7c7e94;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #FCA635;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .slider:after
  {
   content:'OFF';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 15px;
  }
  
  input:checked + .slider:after
  {  
    content:'ON';
  }
